bcrypt==4.2.0
blinker==1.8.2
certifi==2024.7.4
click==8.1.7
Flask==3.0.3
importlib_metadata==8.2.0
interchange==2021.0.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
monotonic==1.6
packaging==24.1
pansi==2020.7.3
passlib==1.7.4
py2neo==2021.2.4
Pygments==2.18.0
pytz==2024.1
six==1.16.0
urllib3==2.2.2
Werkzeug==3.0.3
zipp==3.19.2
